@charset "utf-8";

@font-face {
  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/NanumSquare.html);
  src: local('Nanum Square Light'),
       local('NanumSquareL'),
       url(fonts/NanumSquareLd41d.eot?#iefix) format('embedded-opentype'),
       url(fonts/NanumSquareL.woff) format('woff'),
       url(fonts/NanumSquareL.ttf) format('truetype');
}



/* Reset */
* {margin:0;padding:0;font-family: 'NanumSquare', 'Malgun Gothic', '맑은 고딕', '돋움', ​Dotum, Tahoma, Arial; }
html, body {margin:0; padding:0;width: 100%; height: 100%;}
ul, li, ol {list-style-type:none;}
a {text-decoration:none;}
a:hover {text-decoration:none;}
a:focus {text-decoration:none;}
h2, span, strong {font-size:inherit;color:#FCA61F;}


/* layout */

#wrap {height: 100%;width:100%;}
#wrap h1 {position: absolute; left:48%;top: 20px; text-align: center; z-index: 20;margin-left:-60px;width:200px;height:120px;font-size:32px;color:#F07600;font-weight:700;line-height:120px;}
#wrap h1:before {content:"";width:120px;height:120px;border:solid 4px #F07600;background:transparent;position:absolute;left:0;top:0;width:100%;height:100%;box-sizing:border-box;}
#wrap h1.on {color:#fff;}
#wrap h1.on:before {border-color:#fff;opacity:0.6;}

.gate-wrap {overflow: hidden; height: 100%;width:100%;}
.gate-wrap:after {content:"";display:block;clear:both;}
.gate-wrap:before {content:"";position:absolute;left:0;right:0;top:0;bottom:0;display:none;}
.gate-wrap.on01:before {display:block;background:url(../img/dog.jpg) right center no-repeat;background-size:cover;}
.gate-wrap.on02:before {display:block;background:url(../img/cat.jpg) right center no-repeat;background-size:cover;}

.gate-wrap > div {position: relative; float: left; width: 50%; height: 100%;}
.gate-wrap > div.daemyung:before {content:"";position:absolute;left:0;right:0;top:0;bottom:0;background:url(../img/dog_off.jpg) right center no-repeat;background-size:cover;}
.gate-wrap > div.shinevill:before {content:"";position:absolute;left:0;right:0;top:0;bottom:0;background:url(../img/cat_off.jpg) right center no-repeat;background-size:cover;}
.gate-wrap > div > a {position:absolute;top:160px;bottom:160px;width:640px;left:50%;margin-left:-320px;display:block;}
.gate-wrap > div > a .back-dim {position:absolute;left:0;top:0;width:100%;height:100%;background:#fff;opacity:0;filter:alpha(opacity=0);z-index:1;}

.gate-wrap > div.back-hide:before {display:none !important;}

.text-box {text-align:center;color:#FCA61F;display:table;width:100%;height:100%;vertical-align:middle;z-index:2;position:relative;}
.text-box > div {display:table-cell;vertical-align:middle;}
.text-box > div > div.blank {position:absolute;z-index:10;left:0;top:0;right:0;bottom:0;}
.text-box > div > span {font-size:20px;display:block;margin-bottom:20px;}
.text-box > div > h2 {font-size:60px;font-weight:300;line-height:70px;padding-bottom:35px;}
.text-box > div > hr {width:40px;height:2px;border:0;background:#000;margin:0 auto;}
.text-box > div > h2 strong {font-weight:700;}
.text-box > div > p {font-size:24px;line-height:40px;margin-top:30px;}
.text-box > div > p span, .text-box > p strong {display:block;}
.text-box > div > p span {color:#FCA61F;}

.gate-wrap > div.daemyung a.on .text-box {color:#FCA61F;}
.gate-wrap > div.daemyung a.on .text-box > div >  p span {color:#FCA61F;}
.gate-wrap > div.daemyung a.on .text-box > div > hr {background:#FCA61F;}
.gate-wrap > div.shinevill a.on .text-box {color:#FCA61F;}
.gate-wrap > div.shinevill a.on .text-box > div >  p span {color:#FCA61F;}
.gate-wrap > div.shinevill a.on .text-box > div > hr {background:#FCA61F;}

.gate-wrap > div a.other * {color:#fff !important;}
.gate-wrap > div a.other .text-box > div > hr {background:#fff !important;}

/** 0811 추가 **/
.gate-back-wrap {position:absolute;right:0;top:0;left:0;bottom:0;opacity:0}
.gate-back-wrap.on01 {background:url(../img/dog.jpg) right center no-repeat;background-size:cover;}
.gate-back-wrap.on02 {background:url(../img/cat.jpg) right center no-repeat;background-size:cover;}

.gate-wrap > div .back-out {position:absolute;right:0;top:160px;left:0;bottom:160px;width:100%;float:none;}